*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.Card {
  background-color: #e9dcdca1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
 
.Card:hover {
  transform: translateY(-10px);
}
